* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;  
}
.body {
    background-image: url(../img/home/encabezado.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.home {
    width: 100%;
    height: 50%;
    margin-top: 250px;
}
.pie {
    margin-top: 50px;
}

.pie__iconos a  {
    font-size: 30px;
    text-decoration: none;
    color: #000;
    padding: 15px;
}
.pie__iconos a i {
    background-color: #0cf;
    padding: 10px;
    border-radius: 50px;
}
.destinos-img {
    width: 100%;
    height: 275px;
    text-align: center;
}
.destinos {
    margin: 75px auto;
}
.destinos__lugares {
    padding: 15px;
    margin-top: 30px;
}
.destinos__lugares h1 {
    font-size: 50px;
}
.destinos__lugares p {
    font-size: 22px;
}


/*-----SERVICIOS-----*/
.servicios-container {
    margin: 50px auto;
}
.servicios-container h1 {
    font-size: 60px;
}
.servicios {
    position: relative;
}
.servicios-img {
    width: 100%;
    height: 750px;
    border: 2px solid #333;
}
.servicios-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: .5s;
}
.servicios-texto {
    position: absolute;
    width: 90%;
    height: 33%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
.servicios-texto h2 {
    font-size: 36px;
}
.servicios-texto p {
    font-size: 22px;
}
.servicios:hover .servicios-img img {
   opacity: .4;
} 
.servicios:hover .servicios-texto {
    display: block;
}


/*-----EXPERIENCIAS-----*/

.experiencias {
    margin: 50px auto;
}
.experiencias h3 {
    font-size: 40px;
}
.experiencias p {
    font-size: 22px;
}

#carouselExampleInterval {
    margin-top: 50px;
}


/*-----CONTACTO-----*/

.contactos {
    margin-top: 150px;

}

.form__label {
    font-size: 24px;
}
.form__input, .form__text {
    padding: 5px 20px;
    font-size: 22px;
    border: none;
    border-bottom: 2px solid #0cf;
    border-radius: 5px;
}

.form__text {
    resize: none;
    height: 150px;
}







@media (max-width:768px) {
    .body {
        width: 100%;
        height: 1250px;
    }
    .destinos__lugares h1 {
        font-size: 32px;
    }
    .destinos__lugares p {
        font-size: 18px;
        text-align: center;
    }
    .servicios-container h1 {
        font-size: 42px;
    }
    .servicios {
        position: relative;
    }
    .servicios-img {
        margin: 20px auto;
    }    
    .servicios-texto {
        display: block;
    }
    .servicios-texto h2 {
        font-size: 36px;
    }
    .servicios-texto p {
        width: 95%;
        font-size: 22px;
        color: #0cf;

    }
    .servicios:hover .servicios-img img {
        opacity: 1;
     } 
    .experiencias h3 {
        font-size: 28px;
    }
    .experiencias p {
        font-size: 18px;
    }
    .pie {
        margin-top: 25px;
    }
    
    .pie__iconos a  {
        font-size: 24px;
    }
    .pie__iconos a i { 
        padding: 12px;  
    }
}

